html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#scroll-container {
  overflow-y: scroll;
  width: 100%;
  flex-grow: 1;
  background-color: #eee;
}

#content {
  background-color: #fff;
}

.my-link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.btn-group .btn:first-child {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.btn-group .btn:last-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
