.entity-index-top-bar {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  z-index: 999; /* Search bar is 1000 */
  background-color: #fff;
}

.entity-index-pagination-bar {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.entity-index-page-number {
  text-align: right;
  padding: 12px;
}

.entity-index-column-headers {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.entity-index-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.entity-index-item:last-child {
  border-bottom: 0;
}

.entity-index-item-image,
.entity-index-item-name,
.entity-index-item-plain-text,
.entity-index-item-play-button { padding: 6px; }

.entity-index-item-image {
  width: 100%;
  max-width: 96px;
  min-width: 36px;
  height: auto;
}

.entity-index-item-name {
  font-weight: bold;
}

.entity-index-item-play-button-container {
  display: flex;
  justify-content: space-around;
}
