.entity-show {
  padding: 12px;
}

.entity-show-name {
  font-weight: bold;
  font-size: 24px;
}

.entity-show-image {
  width: 100%;
  max-width: 120px;
  max-width: 240px;
  height: auto;
}

.entity-show-play-button {
  font-size: 32px;
  margin: 12px;
}
