#player-bar {
  position: relative; /* To show shadow over #scroll-container */
  z-index: 1000; /* Same as above */
  box-shadow: 0 -3px 6px #aaa;
}

.audio-player-top-row {
  display: flex;
  align-items: center;
}

.audio-player-track-info {
  font-size: 18px;
}

.audio-player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.audio-player-buttons button {
  flex-grow: 1;
  font-size: 20px;
  margin: 12px 6px;
}
