.player-bar {
  position: relative; /* To show shadow over #scroll-container */
  z-index: 1000; /* Same as above */
  box-shadow: 0 -3px 6px #aaa;
  padding: 0 12px;
}

.player-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

.player-track-info {
  display: inline;
  flex-grow: 1;
}

.player-end-time-label {
  float: right;
}

.player-progress-bar {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
  margin-bottom: 12px;
  margin-top: 6px;
}

.player-progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.player-progress-bar:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* Special styling for WebKit/Blink */
.player-progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 18px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  border: 1px solid #aaa;
}

.player-progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #337ab7;
  border: 1px solid #204d74;
}

.player-controls {
  display: inline-flex !important;
}
