.search-bar {
  position: relative; /* To show shadow over #scroll-container */
  z-index: 1000; /* Same as above */
  box-shadow: 0 3px 6px #aaa;
  padding: 12px;
}

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 0;
  min-width: 120px;
}

.search-bar-type-option {
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
}

.search-bar-type-option:hover {
  background-color: #eee;
}

.input-group-btn .btn-group {
  display: flex !important;
}

.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}


.search-bar .btn-group .btn:first-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.serach-bar-type-picker-caret {
  margin-left: 4px !important;
}
