.search-results-container {
  background-color: #fafafa;
}

.search-results-sticky-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999; /* Search bar is 1000 */
  background-color: #fafafa;
}

.search-results-pagination-bar {
  padding: 9px 12px 6px 12px;
  border-bottom: 1px solid #e0e0e0;
}

.search-results-page-number {
  text-align: right;
  margin-right: 12px;
}

.search-results-column-headers {
  padding: 6px 0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
}

.search-result-column-header {
  padding: 0 6px;
  border-right: 1px solid #e0e0e0;
}

.search-result-column-header:last-of-type {
  border-right: 0;
}

.search-result {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.search-result:last-child {
  border-bottom: 0;
}

.search-result-image,
.search-result-name,
.search-result-plain-text,
.search-result-play-button { padding: 6px; }

.search-result-image {
  width: 100%;
  max-width: 96px;
  min-width: 36px;
  height: auto;
}

.search-result-name {
  font-weight: bold;
}

.search-result-play-button {
  display: flex;
  justify-content: space-around;
}
